---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giancarlo M. Sandoval</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <h1>Giancarlo M. Sandoval</h1>
            <p>(geb. 1991 in Lima, Peru) arbeitet mit Bild, Ton, Farben und Text.</p>
        </header>

        <main>
            <section class="filme">
                <h2>Filme</h2>
                {% include_relative sections/filme.html %}
            </section>

            <section class="ausbildung">
                <h2>Ausbildung</h2>
                {% include_relative sections/ausbildung.html %}
            </section>

            <section class="projekte">
                <h2>Projekte</h2>
                {% include_relative sections/projekte.html %}
            </section>

            <section class="misc">
                <h2>Misc</h2>
                {% include_relative sections/misc.html %}
            </section>

            <section class="fruhere-positionen">
                <h2>Frühere Positionen</h2>
                {% include_relative sections/fruhere-positionen.html %}
            </section>
        </main>
    </div>
    <footer>
        <a href="mailto:gsmicro.nics@gmail.com">gsmicro.nics[at]gmail[dot]com</a>
    </footer>
</body>

</html>
