* {
    font-family: "Spline Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #fbfbf6;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #424242;
}

header {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header p {
    text-align: right;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    max-width: 20%;
    font-size: 10px;
    text-wrap: wrap;
    margin: 7px;
}

h1 {
    font-size: 18px;
    font-weight: 400;
}

h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 70%;
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 30px;
}

.filme p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.ausbildung .info,
.ausbildung .links {
    margin-bottom: 30px;
}

.ausbildung p,
.ausbildung ul {
    line-height: 1.6;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-bottom: 5px;

    a {
        color: #424242;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
      }
}
