* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #424242;
}

.container {
    max-width: 70%;
    width: 100%;
    display: grid;
    gap: 20px;
    background-color: white;
    padding: 30px;
}

header {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

header p {
    text-align: right;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    max-width: 20%;
    font-size: 12px;
    text-wrap: wrap;
    margin: 7px;
}

h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.filme p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.ausbildung .info,
.ausbildung .services,
.ausbildung .links {
    margin-bottom: 30px;
}

.ausbildung p,
.ausbildung ul {
    line-height: 1.6;
}
